<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/common/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/common/font-awesome-4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/common/toastr.js/2.1.4/toastr.min.css">
  <link rel="stylesheet" href="/static/admin/css/main.css">
  <script src="/static/common/jquery/1.12.4/jquery.min.js"></script>
  <script src="/static/common/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/static/common/toastr.js/2.1.4/toastr.min.js"></script>
  <script src="/static/admin/js/main.js"></script>
  <title>大学生交流平台</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top main-nav" role="navigation">
      <div class="navbar-header">
        <!-- Bootstrap在小屏幕上显示的菜单折叠按钮 -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <div class="navbar-brand">大学生交流平台</div>
    </div>
    <div class="collapse navbar-collapse">
      <!--   左侧菜单栏   -->
      <div class="main-sidebar">
        <ul class="nav main-menu">
          <li>
            <a href="/user/index/index" data-name="index">
              <i class="fa fa-home fa-fw"></i>首页
            </a>
          </li>


          <li>
          <a href="/user/question/index" data-name="article">
            <i class="fa fa-file-o fa-fw"></i>问题信息
          </a>
          </li>

          <li>
            <a href="/user/article/shows" data-name="article">
              <i class="fa fa-file-o fa-fw"></i>文章信息
            </a>
          </li>
          <li>
            <a href="/user/video/shows" data-name="video">
              <i class="fa fa-file-o fa-fw"></i>视频信息
            </a>
          </li>
          <!--<li>
            <a href="/admin/discuss/index" data-name="discuss">
              <i class="fa fa-file-o fa-fw"></i>评论信息
            </a>
          </li>-->
        </ul>
      </div>
      <!--   顶部用户信息   -->
      <ul class="nav navbar-right">
        <li>
          <a href="#"><i class="fa fa-user fa-fw"></i>{$user.name}</a>
        </li>
        <li>
          <a href="/user/login/logout">
            <i class="fa fa-power-off fa-fw"></i>退出
          </a>
        </li>
      </ul>
    </div>
  </nav>       
  <div class="main-container">
    <!-- 内容区域 -->
    <div class="main-content">

    </div>
    <div class="main-loading" style="display:none">
      <div class="dot-carousel"></div>
    </div>
  </div>
  <script>
    //初始化后台布局的基本逻辑
    main.layout();
    // 页面打开后，加载内容区域
    main.contentRefresh();
  </script>
</body>
</html>